.header{
  font-family: monospace;
    font-size: 16px;
    font-weight: 700;
    background-color: #ff6b0a;    
    padding-top: 50px;
    padding-bottom: 50px;
}
.search-form{
  text-align: center;
}